.header {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 21, 63);
  z-index: 1;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerInner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  text-align: center;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .header::after {
    padding-top: 30%;
  }

  .logo {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }
}
